@model ShoppingCartExample.Models.BaseModels.Shoe
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>
<hr />

<div class="col-md-12">
    <div class="col-md-4">
        <img src="~/Content/Images/Products/@Model.Image" class="img-responsive img-thumbnail" />
    </div>
    <div class="col-md-8">
        <p>
            @Model.Name
        </p>
    </div>
    <div class="col-md-12">
        <form action="/Home/AddCartItem" method="post">
            <input type="hidden" name="ID" value="@Model.ID" />
            <input type="submit" value="Add" />
        </form>
    </div>
</div>

